{% extends 'base.html' %}

{% block body %}

<div class="container pt-2">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.img.url }}" class="img-fluid" alt="{{ movie.name }}">
        </div>
        <div class="col-md-8">
            <h5>{{ movie.name }}</h5>
            <h6>{{ movie.year }}</h6>
            <p>{{ movie.desc }}</p>

            <div class="mt-3">
                <a class="btn btn-warning mr-2" href="{% url 'movieapp:update' movie.id %}">Update</a>
                <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
